.version._77_12th_flp /* version checker */
{
	color: #0000E6;
	background-color: #0CB62E;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 546.8000000000004px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -20px;
	width: 0.01px;
}

#pu6254-3
{
	width: 0.01px;
}

#u6254-3
{
	z-index: 3;
	min-height: 91px;
	background-color: #63CAC3;
	background-color: rgba(0,169,157,0.61);
	-pie-background: rgba(0,169,157,0.61);
}

#u6254-3::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.4575), inset -3px -3px 4px rgba(0,0,0,0.4575);
}

#u6254-3-bw
{
	z-index: 3;
	min-height: 91px;
}

#u6255-4
{
	z-index: 6;
	width: 316px;
	min-height: 35px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 21px;
}

#u6253
{
	z-index: 2;
	min-height: 425px;
	background-color: transparent;
	padding-bottom: 8px;
}

#u6256
{
	z-index: 10;
	width: 349px;
	min-height: 416px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 5px;
}

#u6253-bw
{
	z-index: 2;
	min-height: 425px;
}

#pu6258
{
	width: 0.01px;
	margin-top: -1px;
}

#u6258
{
	z-index: 11;
	height: 44px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u6258::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u6258-bw
{
	z-index: 11;
	height: 44px;
}

#u6259
{
	z-index: 13;
	height: 43px;
	width: 106px;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 132px;
	background: url("../images/u6259_states.png") no-repeat 0px 0px;
}

#u6259_states
{
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
}

#u6259:hover #u6259_states
{
	height: 43px;
	width: 106px;
	background: url("../images/u6259_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

