.version._77_12th /* version checker */
{
	color: #000013;
	background-color: #99004F;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 546px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 20px;
}

#slideshowu784
{
	z-index: 2;
	width: 0.01px;
	height: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 389px;
	left: 1px;
}

#u792
{
	position: absolute;
	background-color: transparent;
}

#u792popup
{
	z-index: 3;
}

#u793
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u810
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u824
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u838
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u852
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u866
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u880
{
	z-index: 16;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u796
{
	position: absolute;
	width: 231px;
	background-color: transparent;
}

#u796popup
{
	z-index: 18;
}

#u797-4
{
	z-index: 19;
	width: 211px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u816-4
{
	z-index: 23;
	width: 211px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u830-4
{
	z-index: 27;
	width: 211px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u844-4
{
	z-index: 31;
	width: 211px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u858-4
{
	z-index: 35;
	width: 211px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u872-4
{
	z-index: 39;
	width: 211px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u886-4
{
	z-index: 43;
	width: 211px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	padding: 10px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u786-4
{
	position: absolute;
	width: 36px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.76;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
	filter: alpha(opacity=76);
	padding: 10px;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	left: 259px;
}

#u786-4popup
{
	z-index: 47;
}

#u791-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #B2FF8B;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	padding: 10px;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	left: 231px;
}

#u791-4popup
{
	z-index: 51;
}

#u785-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #B2FF8B;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	padding: 10px;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	left: 315px;
}

#u785-4popup
{
	z-index: 55;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu5926
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 507px;
}

#u5926
{
	z-index: 59;
	height: 39px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u5926::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u5926-bw
{
	z-index: 59;
	height: 39px;
}

#u5927
{
	z-index: 61;
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 49px;
	background: url("../images/u5927.png") no-repeat 0px 0px;
}

#u5927:hover
{
	height: 43px;
	width: 106px;
	background: url("../images/u5927-r.png") no-repeat 0px 0px;
}

#u5928
{
	z-index: 64;
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 226px;
	background: url("../images/u5928.png") no-repeat 0px 0px;
}

#u5928:hover
{
	height: 43px;
	width: 106px;
	background: url("../images/u5928-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -507px;
}

