.version.amli_n_flp /* version checker */
{
	color: #000000;
	background-color: #6A83A5;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 564px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 6px;
}

#pu6157-3
{
	width: 0.01px;
	margin-left: 10px;
}

#u6157-3
{
	z-index: 2;
	width: 340px;
	min-height: 85px;
	background-color: #63CAC3;
	background-color: rgba(0,169,157,0.61);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,169,157,0.61);
}

#u6157-3::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.4575), inset -3px -3px 4px rgba(0,0,0,0.4575);
}

#u6158-4
{
	z-index: 5;
	width: 266px;
	min-height: 35px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 37px;
}

#u6159
{
	z-index: 9;
	width: 349px;
	min-height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 5px;
	position: relative;
}

#pu6161
{
	width: 0.01px;
	margin-top: 3px;
}

#u6161
{
	z-index: 10;
	height: 44px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u6161::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u6161-bw
{
	z-index: 10;
	height: 44px;
}

#u6162
{
	z-index: 12;
	height: 43px;
	width: 106px;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 140px;
	background: url("../images/u6162_states.png") no-repeat 0px 0px;
}

#u6162_states
{
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
}

#u6162:hover #u6162_states
{
	height: 43px;
	width: 106px;
	background: url("../images/u6162_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

