.version.amli_milton_park /* version checker */
{
	color: #0000F9;
	background-color: #AA8751;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 546.5000000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -21px;
	width: 0.01px;
}

#pu6097-3
{
	width: 0.01px;
	margin-left: 2px;
}

#u6097-3
{
	z-index: 3;
	width: 358px;
	min-height: 91px;
	background-color: #63CAC3;
	background-color: rgba(0,169,157,0.61);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,169,157,0.61);
}

#u6097-3::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.4575), inset -3px -3px 4px rgba(0,0,0,0.4575);
}

#u6098-4
{
	z-index: 6;
	width: 266px;
	min-height: 35px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 45px;
}

#u6136
{
	z-index: 45;
	height: 6px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #0000FF));
	background: -webkit-linear-gradient(top,#000000 ,#0000FF 100%);
	background: linear-gradient(to bottom,#000000 ,#0000FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF0000FF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF0000FF', GradientType=0)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#u6136-bw
{
	z-index: 45;
	margin-top: 8px;
	height: 8px;
}

#pu6115
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: -1px;
}

#u6115
{
	z-index: 24;
	width: 224px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u6102
{
	z-index: 2;
	width: 134px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #009245));
	background: -webkit-linear-gradient(top,#FFFFFF ,#009245 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#009245 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FF009245, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FF009245', GradientType=0)";
	position: relative;
	margin-right: -10000px;
	left: 224px;
}

#u6101-14
{
	z-index: 10;
	width: 125px;
	min-height: 165px;
	background-color: transparent;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 4px;
}

#u6101-2,#u6101-3,#u6101-7,#u6101-9,#u6101-11
{
	text-align: center;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6135
{
	z-index: 44;
	height: 6px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #0000FF));
	background: -webkit-linear-gradient(top,#000000 ,#0000FF 100%);
	background: linear-gradient(to bottom,#000000 ,#0000FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF0000FF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF0000FF', GradientType=0)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#u6135-bw
{
	z-index: 44;
	margin-top: -2px;
	margin-bottom: -2px;
	height: 8px;
}

#ppu6130-4
{
	width: 0.01px;
	margin-left: 57px;
	margin-top: 22px;
}

#pu6130-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 25px;
}

#u6130-4
{
	z-index: 32;
	width: 78px;
	min-height: 17px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u6130-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 0px;
}

#u6134-4
{
	z-index: 36;
	width: 78px;
	min-height: 17px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 13px;
	position: relative;
}

#u6128-4
{
	z-index: 28;
	width: 78px;
	min-height: 17px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 13px;
	position: relative;
}

#u6130-4::before,#u6134-4::before,#u6128-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u6134-4:hover,#u6128-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 13px 0px 0px;
}

#u6121
{
	z-index: 26;
	width: 130px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u6137
{
	z-index: 46;
	height: 6px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #0000FF));
	background: -webkit-linear-gradient(top,#000000 ,#0000FF 100%);
	background: linear-gradient(to bottom,#000000 ,#0000FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF0000FF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF0000FF', GradientType=0)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#u6136::before,#u6135::before,#u6137::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u6137-bw
{
	z-index: 46;
	margin-top: 14px;
	height: 8px;
}

#pu6131
{
	width: 0.01px;
	margin-top: 69px;
}

#u6131
{
	z-index: 40;
	height: 44px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u6115::before,#u6102::before,#u6121::before,#u6131::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u6131-bw
{
	z-index: 40;
	height: 44px;
}

#u6132
{
	z-index: 42;
	height: 43px;
	width: 106px;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 140px;
	background: url("../images/u6132_states.png") no-repeat 0px 0px;
}

#u6132_states
{
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
}

#u6132:hover #u6132_states
{
	height: 43px;
	width: 106px;
	background: url("../images/u6132_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

