.version.bell_peachtree /* version checker */
{
	color: #000019;
	background-color: #005506;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 549px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#slideshowu1947
{
	z-index: 2;
	width: 0.01px;
	height: 531px;
	position: relative;
	margin-right: -10000px;
}

#u1950
{
	position: absolute;
	width: 360px;
	height: 531px;
	background-color: transparent;
}

#u1950popup
{
	z-index: 3;
}

#u1951
{
	z-index: 4;
	width: 360px;
	height: 531px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1994
{
	z-index: 6;
	width: 360px;
	height: 531px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1958
{
	position: absolute;
	width: 232px;
	background-color: transparent;
	top: 454px;
}

#u1958popup
{
	z-index: 8;
}

#u1959-4
{
	z-index: 9;
	width: 212px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2000-4
{
	z-index: 13;
	width: 212px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1954-4
{
	position: absolute;
	width: 30px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.49;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=49)";
	filter: alpha(opacity=49);
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 454px;
	left: 274px;
}

#u1954-4popup
{
	z-index: 17;
}

#u1957-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #38EC00;
	opacity: 0.47;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=47)";
	filter: alpha(opacity=47);
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 454px;
	left: 238px;
}

#u1957-4popup
{
	z-index: 21;
}

#u1949-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #38EC00;
	opacity: 0.47;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=47)";
	filter: alpha(opacity=47);
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 454px;
	left: 330px;
}

#u1949-4popup
{
	z-index: 25;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu5908
{
	width: 0.01px;
	margin-bottom: -18px;
	margin-right: -10000px;
	margin-top: 530px;
}

#u5908
{
	z-index: 29;
	height: 37px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u5908::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u5908-bw
{
	z-index: 29;
	height: 37px;
}

#u5909
{
	z-index: 31;
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 61px;
	background: url("../images/u5909.png") no-repeat 0px 0px;
}

#u5909:hover
{
	height: 43px;
	width: 106px;
	background: url("../images/u5909-r.png") no-repeat 0px 0px;
}

#u5910
{
	z-index: 34;
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 213px;
	background: url("../images/u5910.png") no-repeat 0px 0px;
}

#u5910:hover
{
	height: 43px;
	width: 106px;
	background: url("../images/u5910-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 26px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -530px;
}

