.version.brook_haven /* version checker */
{
	color: #00000F;
	background-color: #DA0926;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 133px;
	min-height: 246px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-left: 227px;
	padding-top: 206px;
	padding-bottom: 95px;
}

#u5458
{
	z-index: 2;
	width: 133px;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	position: relative;
}

#u5458_position_content
{
	padding-top: 14px;
	padding-bottom: 71px;
}

#u5459
{
	z-index: 3;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-left: 20px;
	position: relative;
}

#u5461
{
	z-index: 5;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 9px;
	position: relative;
}

#u5460
{
	z-index: 4;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 17px;
	position: relative;
}

#U5463_animation,#U5831_animation,#U5462_animation
{
	width: 113px;
	height: 45px;
	border: none;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

