.version.buckhead /* version checker */
{
	color: #000009;
	background-color: #2B4242;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 550.9000000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -10px;
	width: 0.01px;
}

#u4894
{
	z-index: 2;
	width: 360px;
	height: 200px;
	background-color: transparent;
	position: relative;
}

#U4920_animation
{
	width: 360px;
	height: 200px;
	border: none;
}

#pu5367
{
	z-index: 3;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u5367
{
	z-index: 0;
	width: 227px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu747-4
{
	width: 0.01px;
	padding-bottom: 29.78749999999974px;
	position: relative;
	left: 4px;
	padding-top: 15px;
	z-index: 2;
}

#u747-4
{
	z-index: 35;
	width: 58px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u747-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 57px;
	margin: 0px -1px -1px 0px;
}

#u745-4
{
	z-index: 31;
	width: 75px;
	min-height: 18px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 2px;
	margin-top: 9px;
	position: relative;
}

#u745-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 9px -1px -1px 2px;
}

#u5843-4
{
	z-index: 19;
	width: 56px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 2px;
	margin-top: 8px;
	position: relative;
}

#u5843-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 55px;
	margin: 8px -1px -1px 2px;
}

#u749-4
{
	z-index: 39;
	width: 160px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 8px;
	position: relative;
}

#u749-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 159px;
	margin: 8px -1px -1px 0px;
}

#u5354-4
{
	z-index: 47;
	width: 148px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 2px;
	margin-top: 37px;
	position: relative;
}

#u5354-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 147px;
	margin: 37px -1px -1px 2px;
}

#u5840-4
{
	z-index: 15;
	width: 144px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 10px;
	position: relative;
}

#u5840-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 143px;
	margin: 10px -1px -1px 0px;
}

#u5355-4
{
	z-index: 51;
	width: 129px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 9px;
	position: relative;
}

#u5355-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 128px;
	margin: 9px -1px -1px 0px;
}

#u5987-4
{
	z-index: 27;
	width: 186px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 8px;
	position: relative;
}

#u5987-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 185px;
	margin: 8px -1px -1px 0px;
}

#u5986-4
{
	z-index: 23;
	width: 159px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 3px;
	margin-top: 9px;
	position: relative;
}

#u5986-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 158px;
	margin: 9px -1px -1px 3px;
}

#u5843-4:hover p,#u5354-4:hover p,#u5840-4:hover p,#u5355-4:hover p,#u5987-4:hover p,#u5986-4:hover p
{
	color: #00EC98;
	visibility: inherit;
}

#u5391
{
	z-index: 11;
	width: 113px;
	background-color: #FEFEFE;
	background-color: rgba(255,255,255,0.29);
	position: relative;
	margin-right: -10000px;
	left: 227px;
	padding: 23px 10px 19.450000000000045px;
	-pie-background: rgba(255,255,255,0.29);
}

#u5392
{
	z-index: 12;
	width: 113px;
	height: 45px;
	background-color: transparent;
	position: relative;
}

#u5394
{
	z-index: 14;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 61px;
	position: relative;
}

#u5393
{
	z-index: 13;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 60px;
	position: relative;
}

#U5396_animation,#U5837_animation,#U5395_animation
{
	width: 113px;
	height: 45px;
	border: none;
}

#u751-4
{
	z-index: 43;
	width: 180px;
	min-height: 18px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
}

#u751-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 179px;
	margin: 121px -10001px -1px 0px;
}

#u747-4:hover p,#u745-4:hover p,#u749-4:hover p,#u751-4:hover p
{
	color: #22B573;
	visibility: inherit;
}

#ppu5367,#pu5371
{
	width: 0.01px;
	margin-top: 6px;
}

#u5371
{
	z-index: 4;
	height: 50px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u5367::before,#u5371::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u5371-bw
{
	z-index: 4;
	height: 50px;
}

#u5372
{
	z-index: 6;
	height: 43px;
	width: 106px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 65px;
	background: url("../images/u5372_states.png") no-repeat 0px 0px;
}

#u5372:hover #u5372_states
{
	height: 43px;
	width: 106px;
	background: url("../images/u5372_states-r.png") no-repeat 0px 0px;
}

#u5373
{
	z-index: 9;
	height: 43px;
	width: 106px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 215px;
	background: url("../images/u5373_states.png") no-repeat 0px 0px;
}

#u5372_states,#u5373_states
{
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
}

#u5373:hover #u5373_states
{
	height: 43px;
	width: 106px;
	background: url("../images/u5373_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 10px;
}

#page .verticalspacer
{
	clear: both;
}

