.version.citzen_perimeter /* version checker */
{
	color: #00001C;
	background-color: #F1EA26;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 551px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#slideshowu2582
{
	z-index: 2;
	width: 0.01px;
	height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 456px;
}

#u2585
{
	position: absolute;
	background-color: transparent;
}

#u2585popup
{
	z-index: 3;
}

#u2586
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u2608
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u2622
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u2593
{
	position: absolute;
	width: 280px;
	background-color: transparent;
}

#u2593popup
{
	z-index: 10;
}

#u2594-4
{
	z-index: 11;
	width: 260px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2614-4
{
	z-index: 15;
	width: 260px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2628-4
{
	z-index: 19;
	width: 260px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2592-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 280px;
}

#u2592-4popup
{
	z-index: 23;
}

#u2584-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 314px;
}

#u2584-4popup
{
	z-index: 27;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu5911
{
	width: 0.01px;
	margin-bottom: -18px;
	margin-right: -10000px;
	margin-top: 532px;
}

#u5911
{
	z-index: 31;
	height: 37px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u5911::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u5911-bw
{
	z-index: 31;
	height: 37px;
}

#u5912
{
	z-index: 33;
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 61px;
	background: url("../images/u5912.png") no-repeat 0px 0px;
}

#u5912:hover
{
	height: 43px;
	width: 106px;
	background: url("../images/u5912-r.png") no-repeat 0px 0px;
}

#u5913
{
	z-index: 36;
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 213px;
	background: url("../images/u5913.png") no-repeat 0px 0px;
}

#u5913:hover
{
	height: 43px;
	width: 106px;
	background: url("../images/u5913-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -532px;
}

