.version.downtown /* version checker */
{
	color: #0000FB;
	background-color: #FD23B6;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 546.5000000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -18px;
	width: 0.01px;
}

#u4041
{
	z-index: 23;
	width: 360px;
	height: 200px;
	background-color: transparent;
	position: relative;
}

#U4916_animation
{
	width: 360px;
	height: 200px;
	border: none;
}

#ppu5389
{
	width: 0.01px;
	margin-top: 6px;
}

#pu5389
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u5389
{
	z-index: 0;
	width: 214px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu711-4
{
	width: 0.01px;
	padding-bottom: 31.699999999999932px;
	position: relative;
	padding-top: 30px;
	z-index: 2;
}

#u711-4
{
	z-index: 7;
	width: 165px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 5px;
	position: relative;
}

#u711-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 164px;
	margin: 0px -1px -1px 5px;
}

#u713-4
{
	z-index: 11;
	width: 94px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 3px;
	margin-top: 5px;
	position: relative;
}

#u713-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 93px;
	margin: 5px -1px -1px 3px;
}

#u715-4
{
	z-index: 15;
	width: 92px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 6px;
	position: relative;
}

#u715-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 91px;
	margin: 6px -1px -1px 5px;
}

#u717-4
{
	z-index: 19;
	width: 112px;
	min-height: 20px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 3px;
	margin-top: 5px;
	position: relative;
}

#u717-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 111px;
	margin: 5px -1px -1px 3px;
}

#u5356-4
{
	z-index: 24;
	width: 162px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 3px;
	margin-top: 5px;
	position: relative;
}

#u5356-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 161px;
	margin: 5px -1px -1px 3px;
}

#u5357-4
{
	z-index: 28;
	width: 145px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 3px;
	margin-top: 7px;
	position: relative;
}

#u5357-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 144px;
	margin: 7px -1px -1px 3px;
}

#u5358-4
{
	z-index: 32;
	width: 133px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 6px;
	position: relative;
}

#u5358-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 132px;
	margin: 6px -1px -1px 0px;
}

#u6000-4
{
	z-index: 43;
	width: 152px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 4px;
	margin-top: 5px;
	position: relative;
}

#u6000-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 151px;
	margin: 5px -1px -1px 4px;
}

#u711-4:hover p,#u713-4:hover p,#u715-4:hover p,#u717-4:hover p,#u5356-4:hover p,#u5357-4:hover p,#u5358-4:hover p,#u6000-4:hover p
{
	color: #00EC98;
	visibility: inherit;
}

#u5405
{
	z-index: 3;
	width: 113px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.49);
	position: relative;
	margin-right: -10000px;
	left: 227px;
	padding: 19px 10px 32.40000000000006px;
	-pie-background: rgba(255,255,255,0.49);
}

#u5406
{
	z-index: 4;
	width: 113px;
	height: 45px;
	background-color: transparent;
	position: relative;
}

#u5408
{
	z-index: 6;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 34px;
	position: relative;
}

#u5407
{
	z-index: 5;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
}

#U5410_animation,#U5835_animation,#U5409_animation
{
	width: 113px;
	height: 45px;
	border: none;
}

#pu5382
{
	width: 0.01px;
	margin-top: 76px;
}

#u5382
{
	z-index: 36;
	height: 37px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u5389::before,#u5382::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u5382-bw
{
	z-index: 36;
	height: 37px;
}

#u5383
{
	z-index: 38;
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 61px;
	background: url("../images/u5383.png") no-repeat 0px 0px;
}

#u5383:hover
{
	height: 43px;
	width: 106px;
	background: url("../images/u5383-r.png") no-repeat 0px 0px;
}

#u5384
{
	z-index: 41;
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 213px;
	background: url("../images/u5384.png") no-repeat 0px 0px;
}

#u5384:hover
{
	height: 43px;
	width: 106px;
	background: url("../images/u5384-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

