.version.drezel_flp /* version checker */
{
	color: #000016;
	background-color: #C1871B;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 571px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu6163-3
{
	width: 0.01px;
}

#u6163-3
{
	z-index: 2;
	min-height: 91px;
	background-color: #63CAC3;
	background-color: rgba(0,169,157,0.61);
	-pie-background: rgba(0,169,157,0.61);
}

#u6163-3::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.4575), inset -3px -3px 4px rgba(0,0,0,0.4575);
}

#u6163-3-bw
{
	z-index: 2;
	min-height: 91px;
}

#u6164-4
{
	z-index: 5;
	width: 266px;
	min-height: 35px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 47px;
}

#u6165
{
	z-index: 9;
	width: 349px;
	min-height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 7px;
	position: relative;
}

#pu6167
{
	width: 0.01px;
	margin-top: 2px;
}

#u6167
{
	z-index: 10;
	height: 44px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u6167::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u6167-bw
{
	z-index: 10;
	height: 44px;
}

#u6168
{
	z-index: 12;
	height: 43px;
	width: 106px;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 139px;
	background: url("../images/u6168_states.png") no-repeat 0px 0px;
}

#u6168_states
{
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
}

#u6168:hover #u6168_states
{
	height: 43px;
	width: 106px;
	background: url("../images/u6168_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

