.version.dt__more /* version checker */
{
	color: #000001;
	background-color: #390A3B;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 546.5000000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -18px;
	width: 0.01px;
}

#u6073
{
	z-index: 6;
	width: 360px;
	height: 200px;
	background-color: transparent;
	position: relative;
}

#U6077_animation
{
	width: 360px;
	height: 200px;
	border: none;
}

#ppu6081
{
	width: 0.01px;
	margin-top: 6px;
}

#pu6081
{
	z-index: 11;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u6081
{
	z-index: 0;
	width: 214px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu6082-4
{
	width: 0.01px;
	padding-bottom: 64.90000000000003px;
	position: relative;
	left: 4px;
	padding-top: 19px;
	z-index: 2;
}

#u6082-4
{
	z-index: 12;
	width: 143px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 1px;
	position: relative;
}

#u6082-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 142px;
	margin: 0px -1px -1px 1px;
}

#u6083-4
{
	z-index: 16;
	width: 129px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 11px;
	position: relative;
}

#u6083-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 128px;
	margin: 11px -1px -1px 0px;
}

#u6084-4
{
	z-index: 20;
	width: 151px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 1px;
	margin-top: 10px;
	position: relative;
}

#u6084-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 150px;
	margin: 10px -1px -1px 1px;
}

#u6086-4
{
	z-index: 28;
	width: 152px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 10px;
	position: relative;
}

#u6086-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 151px;
	margin: 10px -1px -1px 0px;
}

#u6087-4
{
	z-index: 32;
	width: 87px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 10px;
	position: relative;
}

#u6087-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 86px;
	margin: 10px -1px -1px 0px;
}

#u6085-4
{
	z-index: 24;
	width: 65px;
	min-height: 20px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 10px;
	position: relative;
}

#u6085-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 64px;
	margin: 10px -1px -1px 0px;
}

#u6082-4:hover p,#u6083-4:hover p,#u6084-4:hover p,#u6086-4:hover p,#u6087-4:hover p,#u6085-4:hover p
{
	color: #00EC98;
	visibility: inherit;
}

#u6069
{
	z-index: 2;
	width: 113px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.49);
	position: relative;
	margin-right: -10000px;
	left: 227px;
	padding: 19px 10px 32.40000000000006px;
	-pie-background: rgba(255,255,255,0.49);
}

#u6070
{
	z-index: 3;
	width: 113px;
	height: 45px;
	background-color: transparent;
	position: relative;
}

#u6072
{
	z-index: 5;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 34px;
	position: relative;
}

#u6071
{
	z-index: 4;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
}

#U6076_animation,#U6074_animation,#U6075_animation
{
	width: 113px;
	height: 45px;
	border: none;
}

#pu6078
{
	width: 0.01px;
	margin-top: 69px;
}

#u6078
{
	z-index: 7;
	height: 44px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u6081::before,#u6078::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u6078-bw
{
	z-index: 7;
	height: 44px;
}

#u6079
{
	z-index: 9;
	height: 43px;
	width: 106px;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 132px;
	background: url("../images/u6079_states.png") no-repeat 0px 0px;
}

#u6079_states
{
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
}

#u6079:hover #u6079_states
{
	height: 43px;
	width: 106px;
	background: url("../images/u6079_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

