.version.dunwoody /* version checker */
{
	color: #00001A;
	background-color: #5D24B0;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 560px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	border-radius: 9px;
}

#u5201
{
	z-index: 9;
	width: 360px;
	height: 200px;
	background-color: transparent;
	position: relative;
}

#U5203_animation
{
	width: 360px;
	height: 200px;
	border: none;
}

#u5264
{
	z-index: 11;
	height: 7px;
	-pie-box-shadow: 6px 6px 8px #7FFFFF;
	box-shadow: 6px 6px 8px rgba(0,255,255,0.5);
	background: -webkit-gradient(linear, left center, right center, from(#C7B299),color-stop(100%, #22B573));
	background: -webkit-linear-gradient(left,#C7B299 ,#22B573 100%);
	background: linear-gradient(to right,#C7B299 ,#22B573 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFC7B299, endColorstr=#FF22B573, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC7B299', endColorstr='#FF22B573', GradientType=1)";
	background-size: 100% auto;
}

#u5264-bw
{
	z-index: 11;
	margin-top: -4px;
	margin-bottom: -4px;
	height: 7px;
}

#page_position_content,#ppu5261
{
	width: 0.01px;
}

#pu5261
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
}

#u5261
{
	z-index: 0;
	width: 227px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu682-4
{
	width: 0.01px;
	padding-bottom: 34.72500000000008px;
	position: relative;
	left: 2px;
	padding-top: 6px;
	z-index: 2;
}

#u682-4
{
	z-index: 26;
	width: 105px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u682-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 104px;
	margin: 0px -1px -1px 0px;
}

#u5286-4
{
	z-index: 34;
	width: 151px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 1px;
	margin-top: 148px;
	position: relative;
}

#u5286-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 150px;
	margin: 148px -1px -1px 1px;
}

#u5995-4
{
	z-index: 18;
	width: 129px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 2px;
	margin-top: 7px;
	position: relative;
}

#u5995-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 128px;
	margin: 7px -1px -1px 2px;
}

#u5280
{
	z-index: 3;
	width: 113px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.56);
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 227px;
	padding: 14px 10px 21px;
	-pie-background: rgba(255,255,255,0.56);
}

#u5265
{
	z-index: 12;
	width: 113px;
	height: 45px;
	background-color: transparent;
	position: relative;
}

#u5267
{
	z-index: 14;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 42px;
	position: relative;
}

#u5266
{
	z-index: 13;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 35px;
	position: relative;
}

#U5275_animation,#U5839_animation,#U5271_animation
{
	width: 113px;
	height: 45px;
	border: none;
}

#u5996-4
{
	z-index: 22;
	width: 171px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
}

#u5996-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 170px;
	margin: 221px -10001px -1px 0px;
}

#u684-4
{
	z-index: 30;
	width: 94px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 2px;
}

#u684-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 93px;
	margin: 31px -10001px -1px 0px;
}

#u686-4
{
	z-index: 38;
	width: 156px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
}

#u686-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 155px;
	margin: 53px -10001px -1px 0px;
}

#u688-4
{
	z-index: 42;
	width: 151px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
}

#u688-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 150px;
	margin: 76px -10001px -1px 0px;
}

#u5283-4
{
	z-index: 46;
	width: 141px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
}

#u5283-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 140px;
	margin: 98px -10001px -1px 0px;
}

#u5284-4
{
	z-index: 50;
	width: 165px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
}

#u5284-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 164px;
	margin: 124px -10001px -1px 0px;
}

#u5285-4
{
	z-index: 54;
	width: 202px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
}

#u5285-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 201px;
	margin: 149px -10001px -1px 0px;
}

#u682-4:hover p,#u5286-4:hover p,#u5995-4:hover p,#u5996-4:hover p,#u684-4:hover p,#u686-4:hover p,#u688-4:hover p,#u5283-4:hover p,#u5284-4:hover p,#u5285-4:hover p
{
	color: #00EC98;
	visibility: inherit;
}

#u5263
{
	z-index: 10;
	height: 7px;
	-pie-box-shadow: 6px 6px 8px #7FFFFF;
	box-shadow: 6px 6px 8px rgba(0,255,255,0.5);
	background: -webkit-gradient(linear, left center, right center, from(#C7B299),color-stop(100%, #22B573));
	background: -webkit-linear-gradient(left,#C7B299 ,#22B573 100%);
	background: linear-gradient(to right,#C7B299 ,#22B573 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFC7B299, endColorstr=#FF22B573, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC7B299', endColorstr='#FF22B573', GradientType=1)";
	background-size: 100% auto;
}

#u5263-bw
{
	z-index: 10;
	margin-top: 24px;
	height: 7px;
}

#pu5262
{
	width: 0.01px;
	margin-top: 40px;
}

#u5262
{
	z-index: 4;
	height: 37px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u5264::before,#u5261::before,#u5263::before,#u5262::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u5262-bw
{
	z-index: 4;
	height: 37px;
}

#u4548-4
{
	z-index: 5;
	margin-bottom: -7px;
	position: relative;
	width: 106px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 61px;
}

#u4548-4_img
{
	display: block;
	vertical-align: top;
}

#u5294
{
	z-index: 16;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 213px;
	background: url("../images/u5294_states.png") no-repeat 0px 0px;
}

#u5294_states
{
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
}

#u5294:hover #u5294_states
{
	height: 43px;
	width: 106px;
	background: url("../images/u5294_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

