.version.dw_more /* version checker */
{
	color: #00001D;
	background-color: #BC2F64;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 546.5000000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -18px;
	width: 0.01px;
}

#u6002
{
	z-index: 19;
	width: 360px;
	height: 200px;
	background-color: transparent;
	position: relative;
}

#U6003_animation
{
	width: 360px;
	height: 200px;
	border: none;
}

#ppu5343
{
	width: 0.01px;
	margin-top: 3px;
}

#pu5343
{
	z-index: 3;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 233px;
}

#u5343
{
	z-index: 0;
	width: 127px;
	background-color: #FFFFFF;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu5344
{
	width: 0.01px;
	padding-bottom: 27.549999999999955px;
	position: relative;
	left: 4px;
	padding-top: 20px;
	z-index: 2;
}

#u5344
{
	z-index: 4;
	width: 113px;
	height: 45px;
	background-color: transparent;
	position: relative;
}

#u5346
{
	z-index: 6;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 27px;
	position: relative;
}

#u5345
{
	z-index: 5;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 32px;
	position: relative;
}

#U5348_animation,#U5838_animation,#U5347_animation
{
	width: 113px;
	height: 45px;
	border: none;
}

#pu6004
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
}

#u6004
{
	z-index: 0;
	width: 227px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu5337-4
{
	width: 0.01px;
	position: relative;
	padding-top: 3px;
	z-index: 2;
	padding-bottom: 108px;
}

#u5337-4
{
	z-index: 24;
	width: 55px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 1px;
	position: relative;
}

#u5337-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 54px;
	margin: 0px -1px -1px 1px;
}

#u5340-4
{
	z-index: 32;
	width: 69px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 1px;
	margin-top: 6px;
	position: relative;
}

#u5340-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 68px;
	margin: 6px -1px -1px 1px;
}

#u5341-4
{
	z-index: 36;
	width: 104px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 6px;
	position: relative;
}

#u5341-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 103px;
	margin: 6px -1px -1px 0px;
}

#u5342-4
{
	z-index: 40;
	width: 151px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 2px;
	position: relative;
}

#u5342-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 150px;
	margin: 2px -1px -1px 0px;
}

#u5339-4
{
	z-index: 28;
	width: 178px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 1px;
	margin-top: 35px;
	position: relative;
}

#u5339-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 177px;
	margin: 35px -1px -1px 1px;
}

#u5997-4
{
	z-index: 11;
	width: 109px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 2px;
}

#u5997-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 108px;
	margin: 169px -10001px -1px 0px;
}

#u5998-4
{
	z-index: 15;
	width: 168px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 145px;
	left: 2px;
}

#u5998-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 167px;
	margin: 145px -10001px -1px 0px;
}

#u5336-4
{
	z-index: 20;
	width: 155px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
}

#u5336-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 154px;
	margin: 93px -10001px -1px 0px;
}

#u5337-4:hover p,#u5340-4:hover p,#u5341-4:hover p,#u5342-4:hover p,#u5339-4:hover p,#u5997-4:hover p,#u5998-4:hover p,#u5336-4:hover p
{
	color: #00EC98;
	visibility: inherit;
}

#pu5364
{
	width: 0.01px;
	margin-top: 80px;
}

#u5364
{
	z-index: 7;
	height: 37px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u6004::before,#u5364::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u5364-bw
{
	z-index: 7;
	height: 37px;
}

#u5365
{
	z-index: 9;
	height: 43px;
	width: 106px;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 142px;
	background: url("../images/u5365_states.png") no-repeat 0px 0px;
}

#u5365_states
{
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
}

#u5365:hover #u5365_states
{
	height: 43px;
	width: 106px;
	background: url("../images/u5365_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

