.version.fee_service /* version checker */
{
	color: #000018;
	background-color: #222791;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 531px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 23px;
}

#pu4795
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -40px;
}

#u4795
{
	z-index: 10;
	width: 400px;
	height: 200px;
	background-color: transparent;
	position: relative;
}

#U4940_animation
{
	width: 400px;
	height: 200px;
	border: none;
}

#pu3849
{
	z-index: 11;
	width: 0.01px;
	position: relative;
	margin-left: 61px;
	margin-top: 7px;
}

#u3849
{
	z-index: 0;
	width: 317px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.91),0px 0px 8px rgba(255,255,255,0.91);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #476100;
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u3849::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#pu3850-4
{
	width: 0.01px;
	position: relative;
	left: 14px;
	padding-top: 6px;
	z-index: 2;
	padding-bottom: 7px;
}

#u3850-4
{
	z-index: 12;
	width: 289px;
	min-height: 264px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#buttonu4514
{
	z-index: 6;
	width: 139px;
	background: #000000 url("../images/u4514-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#C2FF9D),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#C2FF9D ,#000000 100%);
	background: linear-gradient(to right,#C2FF9D ,#000000 100%);
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.76;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
	filter: alpha(opacity=76);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 488px;
	left: 5px;
}

#buttonu4514:hover
{
	background: #C0FF8B url("../images/u4514-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#79ECFF),color-stop(100%, #C0FF8B));
	background: -webkit-linear-gradient(left,#79ECFF ,#C0FF8B 100%);
	background: linear-gradient(to right,#79ECFF ,#C0FF8B 100%);
	width: 139px;
	min-height: 0px;
	margin: 488px -10000px 0px 0px;
}

#u4515
{
	z-index: 8;
	min-height: 29px;
	min-width: 76px;
	vertical-align: top;
	height: 29px;
	width: 76px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 34px;
	background: url("../images/u4515.png") no-repeat 0px 0px;
}

#buttonu4514:hover #u4515
{
	height: 29px;
	width: 76px;
	background: url("../images/u4515-r.png") no-repeat 0px 0px;
}

#buttonu4514 #u4515
{
	height: 29px;
	width: 76px;
}

#buttonu4512
{
	z-index: 2;
	width: 143px;
	background: #B4FF91 url("../images/u4512-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #B4FF91));
	background: -webkit-linear-gradient(left,#000000 ,#B4FF91 100%);
	background: linear-gradient(to right,#000000 ,#B4FF91 100%);
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 488px;
	left: 207px;
}

#buttonu4512:hover
{
	background: #8BFBFF url("../images/u4512-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#DDFF7F),color-stop(100%, #8BFBFF));
	background: -webkit-linear-gradient(left,#DDFF7F ,#8BFBFF 100%);
	background: linear-gradient(to right,#DDFF7F ,#8BFBFF 100%);
	width: 143px;
	min-height: 0px;
	margin: 488px -10000px 0px 0px;
}

#buttonu4512.ButtonSelected
{
	background: #B4FF91 url("../images/u4512-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #B4FF91));
	background: -webkit-linear-gradient(left,#000000 ,#B4FF91 100%);
	background: linear-gradient(to right,#000000 ,#B4FF91 100%);
	width: 143px;
	min-height: 0px;
	margin: 488px -10000px 0px 0px;
}

#u4513
{
	z-index: 4;
	min-height: 29px;
	min-width: 92px;
	vertical-align: top;
	height: 29px;
	width: 92px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 28px;
	background: url("../images/u4513.png") no-repeat 0px 0px;
}

#buttonu4512:hover #u4513
{
	height: 29px;
	width: 92px;
	background: url("../images/u4513-r.png") no-repeat 0px 0px;
}

#buttonu4512 #u4513
{
	height: 29px;
	width: 92px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -487px;
}

