.version.heights___perimeter /* version checker */
{
	color: #000001;
	background-color: #3FA146;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 571px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#slideshowu2759
{
	z-index: 2;
	width: 0.01px;
	height: 571px;
	position: relative;
	margin-right: -10000px;
}

#u2762
{
	position: absolute;
	width: 360px;
	height: 571px;
	background-color: transparent;
}

#u2762popup
{
	z-index: 3;
}

#u2763
{
	z-index: 4;
	width: 360px;
	height: 571px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2785
{
	z-index: 6;
	width: 360px;
	height: 571px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2832
{
	z-index: 8;
	width: 360px;
	height: 571px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2841
{
	z-index: 10;
	width: 360px;
	height: 571px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2850
{
	z-index: 12;
	width: 360px;
	height: 571px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2859
{
	z-index: 14;
	width: 360px;
	height: 571px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2868
{
	z-index: 16;
	width: 360px;
	height: 571px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2877
{
	z-index: 18;
	width: 360px;
	height: 571px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2886
{
	z-index: 20;
	width: 360px;
	height: 571px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2895
{
	z-index: 22;
	width: 360px;
	height: 571px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2770
{
	position: absolute;
	width: 231px;
	background-color: transparent;
	top: 440px;
}

#u2770popup
{
	z-index: 24;
}

#u2771-4
{
	z-index: 25;
	width: 211px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2791-4
{
	z-index: 29;
	width: 211px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2838-4
{
	z-index: 33;
	width: 211px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2847-4
{
	z-index: 37;
	width: 211px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2856-4
{
	z-index: 41;
	width: 211px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2865-4
{
	z-index: 45;
	width: 211px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2874-4
{
	z-index: 49;
	width: 211px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2883-4
{
	z-index: 53;
	width: 211px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2892-4
{
	z-index: 57;
	width: 211px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2901-4
{
	z-index: 61;
	width: 211px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2766-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 440px;
	left: 262px;
}

#u2766-4popup
{
	z-index: 65;
}

#u2769-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 440px;
	left: 231px;
}

#u2769-4popup
{
	z-index: 69;
}

#u2761-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 440px;
	left: 330px;
}

#u2761-4popup
{
	z-index: 73;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu5920
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 528px;
}

#u5920
{
	z-index: 77;
	height: 37px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u5920::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u5920-bw
{
	z-index: 77;
	height: 37px;
}

#u5921
{
	z-index: 79;
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 61px;
	background: url("../images/u5921.png") no-repeat 0px 0px;
}

#u5921:hover
{
	height: 43px;
	width: 106px;
	background: url("../images/u5921-r.png") no-repeat 0px 0px;
}

#u5922
{
	z-index: 82;
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 213px;
	background: url("../images/u5922.png") no-repeat 0px 0px;
}

#u5922:hover
{
	height: 43px;
	width: 106px;
	background: url("../images/u5922-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -528px;
}

