.version.home /* version checker */
{
	color: #000005;
	background-color: #07679C;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 562px;
	background-image: none;
	border-style: none;
	border-color: #009245;
	background-color: transparent;
	padding-bottom: 8px;
}

#pu4753
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -7px;
	margin-left: -40px;
}

#u4753
{
	z-index: 2;
	width: 400px;
	height: 200px;
	background-color: transparent;
	position: relative;
}

#U4943_animation
{
	width: 400px;
	height: 200px;
	border: none;
}

#pmenuu175
{
	width: 0.01px;
	margin-left: 45px;
	margin-top: 6px;
}

#menuu175
{
	z-index: 3;
	width: 162px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#menuu175::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -3px;
	left: -3px;
	bottom: -3px;
	right: -3px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u183
{
	width: 162px;
	background-color: transparent;
	position: relative;
}

#u186
{
	width: 150px;
	border-width: 6px;
	border-style: solid;
	border-color: #6DE2FF;
	background-color: #000224;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u186:hover
{
	background-color: #42410B;
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u188-4
{
	width: 146px;
	min-height: 17px;
	border-width: 2px;
	border-style: solid;
	border-color: #001E3C;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u186:hover #u188-4
{
	background-color: #42410B;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u186:active #u188-4
{
	background-color: #42410B;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u179
{
	width: 150px;
	border-width: 6px;
	border-style: solid;
	border-color: #6DE2FF;
	background-color: #000224;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u179.MuseMenuActive
{
	background-color: #005479;
	opacity: 0.36;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=36)";
	filter: alpha(opacity=36);
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u181-4
{
	width: 146px;
	min-height: 17px;
	border-width: 2px;
	border-style: solid;
	border-color: #001E3C;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 0px;
}

#u179:hover #u181-4
{
	background-color: #42410B;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u179:active #u181-4
{
	background-color: #42410B;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u193
{
	width: 150px;
	border-width: 6px;
	border-style: solid;
	border-color: #6DE2FF;
	background-color: #000224;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u193:hover
{
	background-color: #42410B;
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u196-4
{
	width: 146px;
	min-height: 17px;
	border-width: 2px;
	border-style: solid;
	border-color: #001E3C;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u193:hover #u196-4
{
	background-color: #42410B;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u193:active #u196-4
{
	background-color: #42410B;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u6224
{
	width: 150px;
	border-width: 6px;
	border-style: solid;
	border-color: #6DE2FF;
	background-color: #000224;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u6224:hover
{
	background-color: #42410B;
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6225-4
{
	width: 146px;
	min-height: 17px;
	border-width: 2px;
	border-style: solid;
	border-color: #001E3C;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u6224:hover #u6225-4
{
	background-color: #42410B;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u6224:active #u6225-4
{
	background-color: #42410B;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u200
{
	width: 150px;
	border-width: 6px;
	border-style: solid;
	border-color: #6DE2FF;
	background-color: #000224;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u200:hover
{
	background-color: #42410B;
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u202-4
{
	width: 146px;
	min-height: 17px;
	border-width: 2px;
	border-style: solid;
	border-color: #001E3C;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u200:hover #u202-4
{
	background-color: #42410B;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u200:active #u202-4
{
	background-color: #42410B;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u205
{
	width: 150px;
	border-width: 6px;
	border-style: solid;
	border-color: #6DE2FF;
	background-color: #000224;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u205:hover
{
	background-color: #42410B;
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u207-4
{
	width: 146px;
	min-height: 17px;
	border-width: 2px;
	border-style: solid;
	border-color: #001E3C;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u205:hover #u207-4
{
	background-color: #42410B;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u205:active #u207-4
{
	background-color: #42410B;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u214
{
	width: 150px;
	border-width: 6px;
	border-style: solid;
	border-color: #6DE2FF;
	background-color: #000224;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u214:hover
{
	background-color: #42410B;
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u216-4
{
	width: 146px;
	min-height: 17px;
	border-width: 2px;
	border-style: solid;
	border-color: #001E3C;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u214:hover #u216-4
{
	background-color: #42410B;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u214:active #u216-4
{
	background-color: #42410B;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u176,#u190,#u6221,#u197,#u204,#u211,#u253
{
	width: 162px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u256
{
	width: 150px;
	border-width: 6px;
	border-style: solid;
	border-color: #6DE2FF;
	background-color: #000224;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u256:hover
{
	background-color: #42410B;
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u186:active,#u193:active,#u6224:active,#u200:active,#u205:active,#u214:active,#u256:active
{
	background-color: #6B6B6B;
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u259-4
{
	width: 146px;
	min-height: 17px;
	border-width: 2px;
	border-style: solid;
	border-color: #001E3C;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u256:hover #u259-4
{
	background-color: #42410B;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u256:active #u259-4
{
	background-color: #42410B;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u186.MuseMenuActive #u188-4,#u179.MuseMenuActive #u181-4,#u193.MuseMenuActive #u196-4,#u6224.MuseMenuActive #u6225-4,#u200.MuseMenuActive #u202-4,#u205.MuseMenuActive #u207-4,#u214.MuseMenuActive #u216-4,#u256.MuseMenuActive #u259-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u365-4
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 177px;
}

#u4787
{
	z-index: 62;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 532px;
	left: 5px;
}

#u4781
{
	z-index: 60;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 531px;
	left: 170px;
}

#pu4758
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 384px;
	margin-left: 228px;
}

#u4758
{
	z-index: 52;
	width: 73px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.65),0px 0px 8px rgba(255,255,255,0.65);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u4758::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u4775
{
	z-index: 58;
	width: 105px;
	background-color: transparent;
	margin-left: 19px;
	margin-top: 64px;
	position: relative;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -383px;
}

