.version.index /* version checker */
{
	color: #000005;
	background-color: #0C9A99;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 536.6000000000004px;
	background-image: none;
	border-style: none;
	border-color: #3F6837;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -28px;
	margin-bottom: -23px;
	width: 0.01px;
}

#u4769
{
	z-index: 14;
	width: 360px;
	height: 300px;
	background-color: transparent;
	position: relative;
}

#U4933_animation
{
	width: 360px;
	height: 300px;
	border: none;
}

#u4774
{
	z-index: 15;
	height: 12px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #0000FF));
	background: -webkit-linear-gradient(top,#000000 ,#0000FF 100%);
	background: linear-gradient(to bottom,#000000 ,#0000FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF0000FF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF0000FF', GradientType=0)";
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

#u4774::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u4774-bw
{
	z-index: 15;
	height: 14px;
}

#pu405
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 15px;
}

#u405
{
	z-index: 2;
	width: 337px;
	height: 142px;
	border-color: #000000;
	background-color: #0071BC;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	position: relative;
	margin-right: -10000px;
}

#u425-4
{
	z-index: 3;
	width: 337px;
	min-height: 132px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.51),0px 0px 8px rgba(255,255,255,0.51);
	border-width: 4px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	letter-spacing: 2px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: -2px;
}

#u425-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -4px;
	left: -4px;
	bottom: -4px;
	right: -4px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u5241
{
	z-index: 7;
	min-height: 35px;
	border-width: 2px;
	border-style: solid;
	border-color: #22B573;
	background-color: #FFFFFF;
	padding-bottom: 6px;
}

#u5246
{
	z-index: 12;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 14px;
}

#u5244
{
	z-index: 10;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 171px;
}

#u5242
{
	z-index: 8;
	width: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 239px;
}

#u5241-bw
{
	z-index: 7;
	min-height: 35px;
	margin-top: 24px;
}

#pu5379
{
	width: 0.01px;
	margin-top: 3px;
}

#u5379
{
	z-index: 16;
	height: 42px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u5379::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u5379-bw
{
	z-index: 16;
	height: 42px;
}

#u5380
{
	z-index: 18;
	height: 43px;
	width: 106px;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 58px;
	background: url("../images/u5380_states.png") no-repeat 0px 0px;
}

#u5380_states
{
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
}

#u5380:hover #u5380_states
{
	height: 43px;
	width: 106px;
	background: url("../images/u5380_states-r.png") no-repeat 0px 0px;
}

#u6315-4
{
	z-index: 20;
	margin-bottom: -4px;
	position: relative;
	width: 106px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 213px;
}

#u6315-4_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 31px;
}

#page .verticalspacer
{
	clear: both;
}

