.version.lindberg /* version checker */
{
	color: #000000;
	background-color: #BE0B76;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 547px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#ppu6298
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 206px;
}

#pu6298
{
	z-index: 9;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u6298
{
	z-index: 0;
	width: 214px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu6304-4
{
	width: 0.01px;
	position: relative;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 11px;
}

#u6304-4
{
	z-index: 18;
	width: 186px;
	min-height: 21px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 4px;
	position: relative;
}

#u6304-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 186px;
	margin: 0px 0px 0px 4px;
}

#u6305-4
{
	z-index: 22;
	width: 134px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 2px;
	margin-top: 5px;
	position: relative;
}

#u6305-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 134px;
	margin: 5px 0px 0px 2px;
}

#u6306-4
{
	z-index: 26;
	width: 124px;
	min-height: 20px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 7px;
	position: relative;
}

#u6306-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 124px;
	margin: 7px 0px 0px 5px;
}

#u6311-4
{
	z-index: 46;
	width: 131px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 7px;
	position: relative;
}

#u6311-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 130px;
	margin: 7px -1px -1px 5px;
}

#u6308-4
{
	z-index: 34;
	width: 119px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 2px;
	margin-top: 45px;
	position: relative;
}

#u6308-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 118px;
	margin: 45px -1px -1px 2px;
}

#u6310-4
{
	z-index: 42;
	width: 205px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 9px;
	position: relative;
}

#u6310-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 204px;
	margin: 9px -1px -1px 0px;
}

#u6303-4
{
	z-index: 14;
	width: 51px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 3px;
	margin-top: 42px;
	position: relative;
}

#u6303-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 50px;
	margin: 42px -1px -1px 3px;
}

#u6307-4
{
	z-index: 30;
	width: 172px;
	min-height: 20px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
}

#u6307-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 172px;
	margin: 121px -10000px 0px 0px;
}

#u6304-4:hover p,#u6305-4:hover p,#u6306-4:hover p,#u6307-4:hover p
{
	color: #22B573;
	visibility: inherit;
}

#u6309-4
{
	z-index: 38;
	width: 212px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
	left: 3px;
}

#u6309-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 211px;
	margin: 208px -10001px -1px 0px;
}

#u6311-4:hover p,#u6308-4:hover p,#u6310-4:hover p,#u6303-4:hover p,#u6309-4:hover p
{
	color: #00EC98;
	visibility: inherit;
}

#u6299
{
	z-index: 10;
	width: 113px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.57);
	position: relative;
	margin-right: -10000px;
	margin-top: 206px;
	left: 227px;
	padding: 25px 10px 28px;
	-pie-background: rgba(255,255,255,0.57);
}

#u6300
{
	z-index: 11;
	width: 113px;
	height: 45px;
	background-color: transparent;
	position: relative;
}

#u6302
{
	z-index: 13;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 39px;
	position: relative;
}

#u6301
{
	z-index: 12;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 41px;
	position: relative;
}

#U6313_animation,#U6312_animation,#U6314_animation
{
	width: 113px;
	height: 45px;
	border: none;
}

#pu6295
{
	width: 0.01px;
	margin-bottom: -27px;
	margin-right: -10000px;
	margin-top: 525px;
}

#u6295
{
	z-index: 2;
	height: 49px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u6298::before,#u6295::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u6295-bw
{
	z-index: 2;
	height: 49px;
}

#u6296
{
	z-index: 4;
	height: 43px;
	width: 106px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 61px;
	background: url("../images/u6296_states.png") no-repeat 0px 0px;
}

#u6296:hover #u6296_states
{
	height: 43px;
	width: 106px;
	background: url("../images/u6296_states-r.png") no-repeat 0px 0px;
}

#u6297
{
	z-index: 7;
	height: 43px;
	width: 106px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 213px;
	background: url("../images/u6297_states.png") no-repeat 0px 0px;
}

#u6296_states,#u6297_states
{
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
}

#u6297:hover #u6297_states
{
	height: 43px;
	width: 106px;
	background: url("../images/u6297_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -525px;
}

