.version.lofts /* version checker */
{
	color: #0000E0;
	background-color: #F67455;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 547px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#slideshowu2654
{
	z-index: 2;
	width: 0.01px;
	height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 461px;
}

#u2657
{
	position: absolute;
	background-color: transparent;
}

#u2657popup
{
	z-index: 3;
}

#u2658
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u2705
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u2714
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u2723
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u2732
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u2741
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u2750
{
	z-index: 16;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u2665
{
	position: absolute;
	width: 269px;
	background-color: transparent;
}

#u2665popup
{
	z-index: 18;
}

#u2666-4
{
	z-index: 19;
	width: 249px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2711-4
{
	z-index: 23;
	width: 249px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2720-4
{
	z-index: 27;
	width: 249px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2729-4
{
	z-index: 31;
	width: 249px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2738-4
{
	z-index: 35;
	width: 249px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2747-4
{
	z-index: 39;
	width: 249px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2756-4
{
	z-index: 43;
	width: 249px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2664-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 269px;
}

#u2664-4popup
{
	z-index: 47;
}

#u2656-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 318px;
}

#u2656-4popup
{
	z-index: 51;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu5917
{
	width: 0.01px;
	margin-bottom: -18px;
	margin-right: -10000px;
	margin-top: 528px;
}

#u5917
{
	z-index: 55;
	height: 37px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u5917::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u5917-bw
{
	z-index: 55;
	height: 37px;
}

#u5918
{
	z-index: 57;
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 61px;
	background: url("../images/u5918.png") no-repeat 0px 0px;
}

#u5918:hover
{
	height: 43px;
	width: 106px;
	background: url("../images/u5918-r.png") no-repeat 0px 0px;
}

#u5919
{
	z-index: 60;
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 213px;
	background: url("../images/u5919.png") no-repeat 0px 0px;
}

#u5919:hover
{
	height: 43px;
	width: 106px;
	background: url("../images/u5919-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -528px;
}

