.version.mezzo /* version checker */
{
	color: #0000E5;
	background-color: #96F22C;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 528px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#slideshowu1036
{
	z-index: 2;
	width: 0.01px;
	height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 440px;
}

#u1044
{
	position: absolute;
	background-color: transparent;
}

#u1044popup
{
	z-index: 3;
}

#u1045
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u1062
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u1086
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u1095
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u1104
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u1133
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u1142
{
	z-index: 16;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u1151
{
	z-index: 18;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u1160
{
	z-index: 20;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u1048
{
	position: absolute;
	width: 211px;
	background-color: transparent;
}

#u1048popup
{
	z-index: 22;
}

#u1049-4
{
	z-index: 23;
	width: 191px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1068-4
{
	z-index: 27;
	width: 191px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding: 10px;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 20px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1092-4
{
	z-index: 31;
	width: 191px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1101-4
{
	z-index: 35;
	width: 191px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1110-4
{
	z-index: 39;
	width: 191px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1139-4
{
	z-index: 43;
	width: 191px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1148-4
{
	z-index: 47;
	width: 191px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1157-4
{
	z-index: 51;
	width: 191px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1166-4
{
	z-index: 55;
	width: 191px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1038-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.61;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=61)";
	filter: alpha(opacity=61);
	padding: 10px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	top: 2px;
	left: 241px;
}

#u1038-4popup
{
	z-index: 59;
}

#u1043-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #B2FF8B;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	top: 2px;
	left: 211px;
}

#u1043-4popup
{
	z-index: 63;
}

#u1037-4
{
	position: absolute;
	width: 10px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #B2FF8B;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	left: 309px;
}

#u1037-4popup
{
	z-index: 67;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu5899
{
	width: 0.01px;
	margin-bottom: -18px;
	margin-right: -10000px;
	margin-top: 509px;
}

#u5899
{
	z-index: 71;
	height: 37px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u5899::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u5899-bw
{
	z-index: 71;
	height: 37px;
}

#u5900
{
	z-index: 73;
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 61px;
	background: url("../images/u5900.png") no-repeat 0px 0px;
}

#u5900:hover
{
	height: 43px;
	width: 106px;
	background: url("../images/u5900-r.png") no-repeat 0px 0px;
}

#u5901
{
	z-index: 76;
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 213px;
	background: url("../images/u5901.png") no-repeat 0px 0px;
}

#u5901:hover
{
	height: 43px;
	width: 106px;
	background: url("../images/u5901-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 32px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -509px;
}

