.version.midtown /* version checker */
{
	color: #0000F2;
	background-color: #788FB9;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 540.5000000000003px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -27px;
	width: 0.01px;
}

#u3976
{
	z-index: 2;
	width: 360px;
	height: 200px;
	background-color: transparent;
	position: relative;
}

#U4912_animation
{
	width: 360px;
	height: 200px;
	border: none;
}

#ppu5388
{
	width: 0.01px;
	margin-top: 6px;
}

#pu5388
{
	z-index: 10;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u5388
{
	z-index: 0;
	width: 214px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu727-4
{
	width: 0.01px;
	position: relative;
	left: 2px;
	padding-top: 9px;
	z-index: 2;
	padding-bottom: 11px;
}

#u727-4
{
	z-index: 19;
	width: 68px;
	min-height: 21px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 2px;
	position: relative;
}

#u727-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 68px;
	margin: 0px 0px 0px 2px;
}

#u729-4
{
	z-index: 23;
	width: 136px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 1px;
	margin-top: 5px;
	position: relative;
}

#u729-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 136px;
	margin: 5px 0px 0px 1px;
}

#u731-4
{
	z-index: 27;
	width: 157px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 4px;
	position: relative;
}

#u731-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 157px;
	margin: 4px 0px 0px;
}

#u5992-4
{
	z-index: 47;
	width: 155px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 7px;
	position: relative;
}

#u5992-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 154px;
	margin: 7px -1px -1px 0px;
}

#u733-4
{
	z-index: 31;
	width: 107px;
	min-height: 20px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 12px;
	position: relative;
}

#u733-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 107px;
	margin: 12px 0px 0px;
}

#u727-4:hover p,#u729-4:hover p,#u731-4:hover p,#u733-4:hover p
{
	color: #22B573;
	visibility: inherit;
}

#u5350-4
{
	z-index: 35;
	width: 162px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 13px;
	position: relative;
}

#u5350-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 161px;
	margin: 13px -1px -1px 0px;
}

#u5352-4
{
	z-index: 43;
	width: 127px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 12px;
	position: relative;
}

#u5352-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 126px;
	margin: 12px -1px -1px 0px;
}

#u5351-4
{
	z-index: 39;
	width: 170px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 3px;
	margin-top: 13px;
	position: relative;
}

#u5351-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 169px;
	margin: 13px -1px -1px 3px;
}

#u5991-4
{
	z-index: 15;
	width: 149px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 9px;
	position: relative;
}

#u5991-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 148px;
	margin: 9px -1px -1px 0px;
}

#u5992-4:hover p,#u5350-4:hover p,#u5352-4:hover p,#u5351-4:hover p,#u5991-4:hover p
{
	color: #00EC98;
	visibility: inherit;
}

#u5398
{
	z-index: 11;
	width: 113px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.57);
	position: relative;
	margin-right: -10000px;
	left: 227px;
	padding: 25px 10px 28px;
	-pie-background: rgba(255,255,255,0.57);
}

#u5399
{
	z-index: 12;
	width: 113px;
	height: 45px;
	background-color: transparent;
	position: relative;
}

#u5401
{
	z-index: 14;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 39px;
	position: relative;
}

#u5400
{
	z-index: 13;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 41px;
	position: relative;
}

#U5403_animation,#U5836_animation,#U5402_animation
{
	width: 113px;
	height: 45px;
	border: none;
}

#pu5368
{
	width: 0.01px;
	margin-top: 46px;
}

#u5368
{
	z-index: 3;
	height: 49px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u5388::before,#u5368::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u5368-bw
{
	z-index: 3;
	height: 49px;
}

#u5369
{
	z-index: 5;
	height: 43px;
	width: 106px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 61px;
	background: url("../images/u5369_states.png") no-repeat 0px 0px;
}

#u5369:hover #u5369_states
{
	height: 43px;
	width: 106px;
	background: url("../images/u5369_states-r.png") no-repeat 0px 0px;
}

#u5370
{
	z-index: 8;
	height: 43px;
	width: 106px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 213px;
	background: url("../images/u5370_states.png") no-repeat 0px 0px;
}

#u5369_states,#u5370_states
{
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
}

#u5370:hover #u5370_states
{
	height: 43px;
	width: 106px;
	background: url("../images/u5370_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 27px;
}

#page .verticalspacer
{
	clear: both;
}

