.version.more_bh /* version checker */
{
	color: #000012;
	background-color: #538DBC;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 534.5000000000011px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -21px;
	width: 0.01px;
}

#u5893
{
	z-index: 18;
	width: 360px;
	height: 200px;
	background-color: transparent;
	position: relative;
}

#U5894_animation
{
	width: 360px;
	height: 200px;
	border: none;
}

#ppu5887-4
{
	width: 0.01px;
	margin-top: 6px;
}

#pu5887-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u5887-4
{
	z-index: 2;
	width: 136px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 5px;
	position: relative;
}

#u5887-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 135px;
	margin: 0px -1px -1px 5px;
}

#u5889-4
{
	z-index: 10;
	width: 136px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 9px;
	position: relative;
}

#u5889-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 135px;
	margin: 9px -1px -1px 5px;
}

#u5888-4
{
	z-index: 6;
	width: 122px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 9px;
	position: relative;
}

#u5888-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 121px;
	margin: 9px -1px -1px 5px;
}

#u5890-4
{
	z-index: 14;
	width: 171px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 9px;
	position: relative;
}

#u5890-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 170px;
	margin: 9px -1px -1px 5px;
}

#u5982-4
{
	z-index: 31;
	width: 187px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 9px;
	position: relative;
}

#u5982-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 186px;
	margin: 9px -1px -1px 0px;
}

#u5981-4
{
	z-index: 27;
	width: 101px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 14px;
	position: relative;
}

#u5981-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 100px;
	margin: 14px -1px -1px 5px;
}

#u5895-4
{
	z-index: 19;
	width: 160px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 11px;
	position: relative;
}

#u5895-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 159px;
	margin: 11px -1px -1px 5px;
}

#u5989-4
{
	z-index: 39;
	width: 202px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 11px;
	position: relative;
}

#u5989-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 201px;
	margin: 11px -1px -1px 5px;
}

#u5988-4
{
	z-index: 35;
	width: 54px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 11px;
	position: relative;
}

#u5988-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 53px;
	margin: 11px -1px -1px 5px;
}

#u5990-4
{
	z-index: 43;
	width: 63px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 11px;
	position: relative;
}

#u5990-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 62px;
	margin: 11px -1px -1px 5px;
}

#u5887-4:hover p,#u5889-4:hover p,#u5888-4:hover p,#u5890-4:hover p,#u5982-4:hover p,#u5981-4:hover p,#u5895-4:hover p,#u5989-4:hover p,#u5988-4:hover p,#u5990-4:hover p
{
	color: #00EC98;
	visibility: inherit;
}

#u6013
{
	z-index: 47;
	width: 113px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.57);
	position: relative;
	margin-right: -10000px;
	left: 227px;
	padding: 25px 10px 28px;
	-pie-background: rgba(255,255,255,0.57);
}

#u6014
{
	z-index: 48;
	width: 113px;
	height: 45px;
	background-color: transparent;
	position: relative;
}

#u6016
{
	z-index: 50;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 39px;
	position: relative;
}

#u6015
{
	z-index: 49;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 41px;
	position: relative;
}

#U6018_animation,#U6017_animation,#U6019_animation
{
	width: 113px;
	height: 45px;
	border: none;
}

#pu5896
{
	width: 0.01px;
	margin-top: 32px;
}

#u5896
{
	z-index: 23;
	height: 47px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u5896::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u5896-bw
{
	z-index: 23;
	height: 47px;
}

#u5897
{
	z-index: 25;
	height: 43px;
	width: 106px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 132px;
	background: url("../images/u5897_states.png") no-repeat 0px 0px;
}

#u5897_states
{
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
}

#u5897:hover #u5897_states
{
	height: 43px;
	width: 106px;
	background: url("../images/u5897_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

