.version.mt_more /* version checker */
{
	color: #0000F4;
	background-color: #11616C;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 546.5000000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -27px;
	width: 0.01px;
}

#u6011
{
	z-index: 2;
	width: 360px;
	height: 200px;
	background-color: transparent;
	position: relative;
}

#U6012_animation
{
	width: 360px;
	height: 200px;
	border: none;
}

#ppu5973
{
	width: 0.01px;
	margin-top: 6px;
}

#pu5973
{
	z-index: 11;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u5973
{
	z-index: 0;
	width: 227px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu5974-4
{
	width: 0.01px;
	padding-bottom: 51.375px;
	position: relative;
	padding-top: 15px;
	z-index: 2;
}

#u5974-4
{
	z-index: 12;
	width: 169px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u5974-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 169px;
	margin: 0px;
}

#u5975-4
{
	z-index: 16;
	width: 88px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 2px;
	margin-top: 6px;
	position: relative;
}

#u5975-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 88px;
	margin: 6px 0px 0px 2px;
}

#u5976-4
{
	z-index: 20;
	width: 165px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 2px;
	margin-top: 11px;
	position: relative;
}

#u5976-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 165px;
	margin: 11px 0px 0px 2px;
}

#u5977-4
{
	z-index: 24;
	width: 167px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 8px;
	position: relative;
}

#u5977-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 167px;
	margin: 8px 0px 0px;
}

#u5974-4:hover p,#u5975-4:hover p,#u5976-4:hover p,#u5977-4:hover p
{
	color: #22B573;
	visibility: inherit;
}

#u5978-4
{
	z-index: 28;
	width: 78px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 7px;
	position: relative;
}

#u5978-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 77px;
	margin: 7px -1px -1px 0px;
}

#u5979-4
{
	z-index: 32;
	width: 176px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 8px;
	position: relative;
}

#u5979-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 175px;
	margin: 8px -1px -1px 0px;
}

#u5980-4
{
	z-index: 36;
	width: 155px;
	min-height: 17px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 13px;
	position: relative;
}

#u5980-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	border-radius: 9px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 154px;
	margin: 13px -1px -1px 0px;
}

#u5978-4:hover p,#u5979-4:hover p,#u5980-4:hover p
{
	color: #00EC98;
	visibility: inherit;
}

#u6020
{
	z-index: 3;
	width: 113px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.57);
	position: relative;
	margin-right: -10000px;
	left: 227px;
	padding: 25px 10px 28px;
	-pie-background: rgba(255,255,255,0.57);
}

#u6021
{
	z-index: 4;
	width: 113px;
	height: 45px;
	background-color: transparent;
	position: relative;
}

#u6023
{
	z-index: 6;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 39px;
	position: relative;
}

#u6022
{
	z-index: 5;
	width: 113px;
	height: 45px;
	background-color: transparent;
	margin-top: 41px;
	position: relative;
}

#U6025_animation,#U6024_animation,#U6026_animation
{
	width: 113px;
	height: 45px;
	border: none;
}

#pu6027
{
	width: 0.01px;
	margin-top: 49px;
}

#u6027
{
	z-index: 7;
	height: 49px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u5973::before,#u6027::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u6027-bw
{
	z-index: 7;
	height: 49px;
}

#u6028
{
	z-index: 9;
	height: 43px;
	width: 106px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 142px;
	background: url("../images/u6028_states.png") no-repeat 0px 0px;
}

#u6028_states
{
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
}

#u6028:hover #u6028_states
{
	height: 43px;
	width: 106px;
	background: url("../images/u6028_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

