.version.skyhouse_south /* version checker */
{
	color: #000002;
	background-color: #429863;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 655px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#slideshowu2059
{
	z-index: 2;
	width: 0.01px;
	height: 653px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2062
{
	position: absolute;
	width: 380px;
	height: 653px;
	background-color: transparent;
}

#u2062popup
{
	z-index: 3;
}

#u2063
{
	z-index: 4;
	width: 380px;
	height: 653px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2085
{
	z-index: 6;
	width: 380px;
	height: 653px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2070
{
	position: absolute;
	width: 278px;
	background-color: transparent;
	top: 475px;
}

#u2070popup
{
	z-index: 8;
}

#u2071-4
{
	z-index: 9;
	width: 258px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2091-4
{
	z-index: 13;
	width: 258px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2066-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 475px;
	left: 303px;
}

#u2066-4popup
{
	z-index: 17;
}

#u2069-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 475px;
	left: 273px;
}

#u2069-4popup
{
	z-index: 21;
}

#u2061-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 475px;
	left: 371px;
}

#u2061-4popup
{
	z-index: 25;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#buttonu4618
{
	z-index: 29;
	width: 150px;
	background: #000000 url("../images/u4618-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#C2FF9D),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#C2FF9D ,#000000 100%);
	background: linear-gradient(to right,#C2FF9D ,#000000 100%);
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	border-radius: 10px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 551px;
	left: -2px;
}

#buttonu4618:hover
{
	background: #C0FF8B url("../images/u4618-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#79ECFF),color-stop(100%, #C0FF8B));
	background: -webkit-linear-gradient(left,#79ECFF ,#C0FF8B 100%);
	background: linear-gradient(to right,#79ECFF ,#C0FF8B 100%);
	width: 150px;
	min-height: 0px;
	margin: 551px -10000px 0px 0px;
}

#buttonu4618.ButtonSelected
{
	background: #000000 url("../images/u4618-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#C2FF9D),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#C2FF9D ,#000000 100%);
	background: linear-gradient(to right,#C2FF9D ,#000000 100%);
	width: 150px;
	min-height: 0px;
	margin: 551px -10000px 0px 0px;
}

#u4619
{
	z-index: 31;
	min-height: 29px;
	min-width: 125px;
	vertical-align: top;
	height: 29px;
	width: 125px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 22px;
	background: url("../images/u4619.png") no-repeat 0px 0px;
}

#buttonu4618:hover #u4619
{
	height: 29px;
	width: 125px;
	background: url("../images/u4619-r.png") no-repeat 0px 0px;
}

#u4622
{
	z-index: 38;
	min-height: 85px;
	min-width: 71px;
	vertical-align: top;
	height: 85px;
	width: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 518px;
	left: 158px;
	background: url("../images/u4622.png") no-repeat 0px 0px;
}

#u4622:hover
{
	height: 85px;
	width: 72px;
	background: url("../images/u4622-r.png") no-repeat 0px 0px;
}

#buttonu4620
{
	z-index: 33;
	width: 164px;
	background: #B4FF91 url("../images/u4620-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #B4FF91));
	background: -webkit-linear-gradient(left,#000000 ,#B4FF91 100%);
	background: linear-gradient(to right,#000000 ,#B4FF91 100%);
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	border-radius: 10px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 551px;
	left: 230px;
}

#buttonu4620:hover
{
	background: #8BFBFF url("../images/u4620-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#DDFF7F),color-stop(100%, #8BFBFF));
	background: -webkit-linear-gradient(left,#DDFF7F ,#8BFBFF 100%);
	background: linear-gradient(to right,#DDFF7F ,#8BFBFF 100%);
	width: 164px;
	min-height: 0px;
	margin: 551px -10000px 0px 0px;
}

#buttonu4620.ButtonSelected
{
	background: #B4FF91 url("../images/u4620-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #B4FF91));
	background: -webkit-linear-gradient(left,#000000 ,#B4FF91 100%);
	background: linear-gradient(to right,#000000 ,#B4FF91 100%);
	width: 164px;
	min-height: 0px;
	margin: 551px -10000px 0px 0px;
}

#u4621
{
	z-index: 35;
	min-height: 29px;
	min-width: 125px;
	vertical-align: top;
	height: 29px;
	width: 125px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 19px;
	background: url("../images/u4621.png") no-repeat 0px 0px;
}

#buttonu4620:hover #u4621
{
	height: 29px;
	width: 125px;
	background: url("../images/u4621-r.png") no-repeat 0px 0px;
}

#buttonu4618 #u4619,#buttonu4620 #u4621
{
	height: 29px;
	width: 125px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -518px;
}

