.version.skyhouse_mid /* version checker */
{
	color: #0000F4;
	background-color: #7712B9;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 547px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#slideshowu2003
{
	z-index: 2;
	width: 0.01px;
	height: 489px;
	position: relative;
	margin-right: -10000px;
	margin-top: -71px;
}

#u2006
{
	position: absolute;
	width: 380px;
	height: 489px;
	background-color: transparent;
}

#u2006popup
{
	z-index: 3;
}

#u2007
{
	z-index: 4;
	width: 380px;
	height: 489px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu2024
{
	z-index: 5;
	width: 0.01px;
	height: 598px;
	position: relative;
	margin-right: -10000px;
}

#u2027
{
	position: absolute;
	width: 380px;
	height: 598px;
	background-color: transparent;
}

#u2027popup
{
	z-index: 6;
}

#u2028
{
	z-index: 7;
	width: 380px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2050
{
	z-index: 9;
	width: 380px;
	height: 598px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u2035
{
	position: absolute;
	width: 261px;
	background-color: transparent;
	top: 447px;
}

#u2035popup
{
	z-index: 11;
}

#u2036-4
{
	z-index: 12;
	width: 241px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2056-4
{
	z-index: 16;
	width: 241px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2031-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 447px;
	left: 291px;
}

#u2031-4popup
{
	z-index: 20;
}

#u2034-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 447px;
	left: 261px;
}

#u2034-4popup
{
	z-index: 24;
}

#u2026-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 447px;
	left: 359px;
}

#u2026-4popup
{
	z-index: 28;
}

#buttonu4628
{
	z-index: 32;
	width: 141px;
	background: #000000 url("../images/u4628-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#C2FF9D),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#C2FF9D ,#000000 100%);
	background: linear-gradient(to right,#C2FF9D ,#000000 100%);
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	border-radius: 10px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 523px;
	left: 5px;
}

#buttonu4628:hover
{
	background: #C0FF8B url("../images/u4628-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#79ECFF),color-stop(100%, #C0FF8B));
	background: -webkit-linear-gradient(left,#79ECFF ,#C0FF8B 100%);
	background: linear-gradient(to right,#79ECFF ,#C0FF8B 100%);
	width: 141px;
	min-height: 0px;
	margin: 523px -10000px 0px 0px;
}

#buttonu4628.ButtonSelected
{
	background: #000000 url("../images/u4628-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#C2FF9D),color-stop(100%, #000000));
	background: -webkit-linear-gradient(left,#C2FF9D ,#000000 100%);
	background: linear-gradient(to right,#C2FF9D ,#000000 100%);
	width: 141px;
	min-height: 0px;
	margin: 523px -10000px 0px 0px;
}

#u4629
{
	z-index: 34;
	min-height: 29px;
	min-width: 125px;
	vertical-align: top;
	height: 29px;
	width: 125px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: url("../images/u4629.png") no-repeat 0px 0px;
}

#buttonu4628:hover #u4629
{
	height: 29px;
	width: 125px;
	background: url("../images/u4629-r.png") no-repeat 0px 0px;
}

#buttonu4628 #u4629
{
	height: 29px;
	width: 125px;
}

#pbuttonu4630
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 490px;
	margin-left: 163px;
}

#buttonu4630
{
	z-index: 36;
	width: 141px;
	background: #B4FF91 url("../images/u4630-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #B4FF91));
	background: -webkit-linear-gradient(left,#000000 ,#B4FF91 100%);
	background: linear-gradient(to right,#000000 ,#B4FF91 100%);
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	border-radius: 10px;
	padding-bottom: 5px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 69px;
}

#buttonu4630:hover
{
	background: #8BFBFF url("../images/u4630-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#DDFF7F),color-stop(100%, #8BFBFF));
	background: -webkit-linear-gradient(left,#DDFF7F ,#8BFBFF 100%);
	background: linear-gradient(to right,#DDFF7F ,#8BFBFF 100%);
	width: 141px;
	min-height: 0px;
	margin: 33px -10000px -3px 0px;
}

#buttonu4630.ButtonSelected
{
	background: #B4FF91 url("../images/u4630-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#000000),color-stop(100%, #B4FF91));
	background: -webkit-linear-gradient(left,#000000 ,#B4FF91 100%);
	background: linear-gradient(to right,#000000 ,#B4FF91 100%);
	width: 141px;
	min-height: 0px;
	margin: 33px -10000px -3px 0px;
}

#u4631
{
	z-index: 38;
	min-height: 29px;
	min-width: 113px;
	vertical-align: top;
	height: 29px;
	width: 113px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 16px;
	background: url("../images/u4631.png") no-repeat 0px 0px;
}

#buttonu4630:hover #u4631
{
	height: 29px;
	width: 113px;
	background: url("../images/u4631-r.png") no-repeat 0px 0px;
}

#buttonu4630 #u4631
{
	height: 29px;
	width: 113px;
}

#u4632
{
	z-index: 41;
	min-height: 85px;
	min-width: 71px;
	vertical-align: top;
	height: 85px;
	width: 72px;
	position: relative;
	margin-right: -10000px;
	background: url("../images/u4632.png") no-repeat 0px 0px;
}

#u4632:hover
{
	height: 85px;
	width: 72px;
	background: url("../images/u4632-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -489px;
}

