.version.skyhouse_buckhead /* version checker */
{
	color: #000004;
	background-color: #CC45E0;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background: #FFFFFF url("../images/200116891-001.jpg") no-repeat right center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 535px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#slideshowu1348
{
	z-index: 2;
	width: 0.01px;
	height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 414px;
	left: 1px;
}

#u1360
{
	position: absolute;
	background-color: transparent;
}

#u1360popup
{
	z-index: 3;
}

#u1361
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u1374
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u1388
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u1402
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u1416
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u1430
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u1444
{
	z-index: 16;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
}

#u1355
{
	position: absolute;
	width: 245px;
	background-color: transparent;
}

#u1355popup
{
	z-index: 18;
}

#u1356-4
{
	z-index: 19;
	width: 225px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1380-4
{
	z-index: 23;
	width: 225px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1394-4
{
	z-index: 27;
	width: 225px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1408-4
{
	z-index: 31;
	width: 225px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1422-4
{
	z-index: 35;
	width: 225px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1436-4
{
	z-index: 39;
	width: 225px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1450-4
{
	z-index: 43;
	width: 225px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	padding: 10px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1351-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.79;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79)";
	filter: alpha(opacity=79);
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 265px;
}

#u1351-4popup
{
	z-index: 47;
}

#u1354-4
{
	position: absolute;
	width: 5px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #B2FF8B;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 240px;
}

#u1354-4popup
{
	z-index: 51;
}

#u1359-4
{
	position: absolute;
	width: 1px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #B2FF8B;
	padding: 10px;
	color: #999999;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 332px;
}

#u1359-4popup
{
	z-index: 55;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu5902
{
	width: 0.01px;
	margin-bottom: -18px;
	margin-right: -10000px;
	margin-top: 516px;
}

#u5902
{
	z-index: 59;
	height: 37px;
	background-color: #7F7F7F;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u5902::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u5902-bw
{
	z-index: 59;
	height: 37px;
}

#u5903
{
	z-index: 61;
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 61px;
	background: url("../images/u5903.png") no-repeat 0px 0px;
}

#u5903:hover
{
	height: 43px;
	width: 106px;
	background: url("../images/u5903-r.png") no-repeat 0px 0px;
}

#u5904
{
	z-index: 64;
	min-height: 43px;
	min-width: 106px;
	vertical-align: top;
	height: 43px;
	width: 106px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 213px;
	background: url("../images/u5904.png") no-repeat 0px 0px;
}

#u5904:hover
{
	height: 43px;
	width: 106px;
	background: url("../images/u5904-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 360px;
	padding-bottom: 26px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -516px;
}

